In [167]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [168]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [169]:
df = pd.get_dummies(df, prefix=['State'] , columns = ['State'])
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [170]:
X = df.drop("Profit", axis = 1).values
y = df.iloc[:, 3].values

In [171]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[[5.5493950e+04 1.0305749e+05 2.1463481e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [4.6014020e+04 8.5047440e+04 2.0551764e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [7.5328870e+04 1.4413598e+05 1.3405007e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [4.6426070e+04 1.5769392e+05 2.1079767e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [9.1749160e+04 1.1417579e+05 2.9491957e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.3029813e+05 1.4553006e+05 3.2387668e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.1994324e+05 1.5654742e+05 2.5651292e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.0002300e+03 1.2415304e+05 1.9039300e+03 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [5.4205000e+02 5.1743150e+04 0.0000000e+00 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [6.5605480e+04 1.5303206e+05 1.0713838e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [1.1452361e+05 1.2261684e+05 2.6177623e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [6.1994480e+04 1.1564128e+05 9.1131240e+04 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [6.3408860e+04 1.2921961e+05 4.6085250e+04 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [7.8013110e+04 1.2159755e+05 2.6434606e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [2.3640930e+04 9.6189630e+04 1.4800111e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [7.6253860e+04 1.1386730e+05 2.9866447e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [1.5505730e+04 1.2738230e+05 3.5534170e+04 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [1.2054252e+05 1.4871895e+05 3.1161329e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [9.1992390e+04 1.3549507e+05 2.5266493e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [6.4664710e+04 1.3955316e+05 1.3796262e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [1.3187690e+05 9.9814710e+04 3.6286136e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [9.4657160e+04 1.4507758e+05 2.8257431e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [2.8754330e+04 1.1854605e+05 1.7279567e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [0.0000000e+00 1.1698380e+05 4.5173060e+04 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [1.6259770e+05 1.5137759e+05 4.4389853e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [9.3863750e+04 1.2732038e+05 2.4983944e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [4.4069950e+04 5.1283140e+04 1.9702942e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [7.7044010e+04 9.9281340e+04 1.4057481e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [1.3461546e+05 1.4719887e+05 1.2771682e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [6.7532530e+04 1.0575103e+05 3.0476873e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [2.8663760e+04 1.2705621e+05 2.0112682e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [7.8389470e+04 1.5377343e+05 2.9973729e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [8.6419700e+04 1.5351411e+05 0.0000000e+00 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [1.2333488e+05 1.0867917e+05 3.0498162e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [3.8558510e+04 8.2982090e+04 1.7499930e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [1.3154600e+03 1.1581621e+05 2.9711446e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.4437241e+05 1.1867185e+05 3.8319962e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [1.6534920e+05 1.3689780e+05 4.7178410e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [0.0000000e+00 1.3542692e+05 0.0000000e+00 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [2.2177740e+04 1.5480614e+05 2.8334720e+04 1.0000000e+00 0.0000000e+00
  0.0000000e+00]]
[[6.6051520e+04 1.8264556e+05 1.1814820e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.0067196e+05 9.1790610e+04 2.4974455e+05 1.0000000e+00 0.0000000e+00
  0.0000000e+00]
 [1.0191308e+05 1.1059411e+05 2.2916095e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [2.7892920e+04 8.4710770e+04 1.6447071e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.5344151e+05 1.0114555e+05 4.0793454e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [7.2107600e+04 1.2786455e+05 3.5318381e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [2.0229590e+04 6.5947930e+04 1.8526510e+05 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [6.1136380e+04 1.5270192e+05 8.8218230e+04 0.0000000e+00 0.0000000e+00
  1.0000000e+00]
 [7.3994560e+04 1.2278275e+05 3.0331926e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]
 [1.4210734e+05 9.1391770e+04 3.6616842e+05 0.0000000e+00 1.0000000e+00
  0.0000000e+00]]
[ 96778.92  96479.51 105733.54  96712.8  124266.9  155752.6  132602.65
  64926.08  35673.41 101004.64 129917.04  99937.59  97427.84 126992.93
  71498.49 118474.03  69758.98 152211.77 134307.35 107404.34 156991.12
 125370.37  78239.91  14681.4  191792.06 141585.52  89949.14 108552.04
 156122.51 108733.99  90708.19 111313.02 122776.86 149759.96  81005.76
  49490.75 182901.99 192261.83  42559.73  65200.33]
[103282.38 144259.4  146121.95  77798.83 191050.39 105008.31  81229.06
  97483.56 110352.25 166187.94]

In [172]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0,1))
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [173]:
from sklearn.linear_model import LinearRegression

In [174]:
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [175]:
print(regressor.intercept_, regressor.coef_)

44153.95466784858 [ 1.27892182e+05  3.49927567e+03  1.72720281e+04  8.66383692e+01
 -8.72645791e+02  7.86007422e+02]

In [176]:
l1 = [("01/01/2020" , 20, 1.1, 150) , ("02/01/2020" , 18, 0.6, 217), ("03/01/2020" , 19, 0.9, 153), ("04/01/2020" , 20, 1.0, 158)]
data = pd.DataFrame(l1, columns = ["Date" , "Temperature","Rainfall", "Mosquitos" ])
data = data.set_index("Date")
data

            Temperature  Rainfall  Mosquitos
Date
01/01/2020           20       1.1        150
02/01/2020           18       0.6        217
03/01/2020           19       0.9        153
04/01/2020           20       1.0        158

## Code to return the Temperature and Rainfall of rows 2 and 3.

In [177]:
data.iloc[1:3, 0:2]

            Temperature  Rainfall
Date
02/01/2020           18       0.6
03/01/2020           19       0.9

In [178]:
data_info = data.describe()
data_info

       Temperature  Rainfall   Mosquitos
count     4.000000  4.000000    4.000000
mean     19.250000  0.900000  169.500000
std       0.957427  0.216025   31.838132
min      18.000000  0.600000  150.000000
25%      18.750000  0.825000  152.250000
50%      19.500000  0.950000  155.500000
75%      20.000000  1.025000  172.750000
max      20.000000  1.100000  217.000000

### Code to return max temperature from Temperature column.

In [179]:
data_info.iloc[7:8, 0:1]

     Temperature
max         20.0

### Code to return min rainfall from Rainfall column.

In [180]:
data_info.loc[['min'], ['Rainfall']]

     Rainfall
min       0.6

### Average from Mosquitos column.

In [181]:
data_info.loc[['mean'], ['Mosquitos']]

      Mosquitos
mean      169.5